body {
    background-color: #cc9976;
}

#tweet {
    margin: auto;
    width: 50%;
    text-align: center;
}
.tweet-intro {
    font-family: 'El Messiri', sans-serif;
}
#tweet h1 {
    font-family: 'Playball', cursive;
}
.btn, #tweet-button {
    font-family: 'Nunito', cursive;
}
#show-tweet {
    font-family: 'Playball', cursive;
    font-size: 20px;
}
#tweet p {
    font-family: 'El Messiri', sans-serif;
}


/*
Fonts:
font-family: 'Nunito', sans-serif;
font-family: 'Playball', cursive;
font-family: 'El Messiri', sans-serif;
*/
