#title {
    font-family: 'Playball', cursive;
}

.tweet {
    margin: auto;
    width: 0.5em;
    text-align: center;
    font-size: 20px;
}

.show-tweet {
    font-family: 'El Messiri', sans-serif;
    font-size: 30px;
}

.tweet-intro {
    font-family: 'Playball', cursive;
}

.btn {
    font-family: 'Nunito', cursive;
    background-color: #000;
}

.blue-stripe {
    height: 100%;
    width: 20%;
    position: absolute;
    left: 0px;
    background-color: #0055A4;
    opacity: 0.7;
}

.red-stripe {
    height: 100%;
    width: 20%;
    position: absolute;
    right: 0px;
    background-color: #EF4135;
    opacity: 0.7;
}
/*
Imported Fonts:
font-family: 'Nunito', sans-serif;
font-family: 'Playball', cursive;
font-family: 'El Messiri', sans-serif;
*/
