body {
    background-color: #cc9976;
}
#title {
    font-family: 'Playball', cursive;
}
.tweet {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 20px;
}
.show-tweet {
    font-family: 'El Messiri', sans-serif;
    font-size: 30px;
}
.tweet-intro {
    font-family: 'Playball', cursive;
}

.btn {
    font-family: 'Nunito', cursive;
    background-color: #000;
}

/*
Imported Fonts:
font-family: 'Nunito', sans-serif;
font-family: 'Playball', cursive;
font-family: 'El Messiri', sans-serif;
*/
