<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Import Fonts -->
        <link href="https://fonts.googleapis.com/css?family=El+Messiri|Nunito|Playball" rel="stylesheet">
        <!-- Import Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Import CSS Files -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Tweet Générateur de Notre-Dame de Paris</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <img src="" alt="">
                </div>
                <div class="col-md-8 mx-auto" id="tweet">
                    <h1>Tweet Générateur de Notre-Dame de Paris</h1>
                    <h4 class="tweet-intro">[On that morning,]...the Parisians awoke to the sound of all the bells in the triple circuit of the city...ringing...</h4>
                    <h4 class="tweet-intro">Thousands of...faces thronged the windows, the doors, the dormer windows, the roofs, gazing at the palace, gazing at the populace...</h4>
                    <br>
                    <br>
                    <button id="tweet-button" type="submit" name="button">What do the bells say?</button>
                    <br>
                    <br>
                    {% if sample_sentence %}
                    <p class="show-tweet">" {{ sample_sentence }} ."</p>
                    {% else %}
                    <p>...the bells of Notre Dame...</p>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    <img src="" alt="">
                </div>
            </div>
        </div>

        <!-- Import Bootstrap Scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
